* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: #000000ea;
}

main {
	display: block;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.title div {
	font-weight: 800;
	font-size: 150px;
	color: #f5deb33c;
	position: relative;
	display: inline-block;
	right: -600px;
}

.title span {
	display: inline-block;
}

.title h3 {
	margin: 0;
	position: absolute;
	top: 10px;
	right: 50px;
	color: #F5DEB3;
	font-size: 80px;
}

.title h3::after {
	content: "";
	top: 0;
	right: 0;
	width: 80px;
	height: 1px;
	background-color: #F5DEB3;
}

.vn_travel {
	background-image: url("image/vietnam-map-dotted.png");
	background-position: 50px 100px;
	background-repeat: no-repeat;
	background-size: 700px;
}

.subtitle {
	text-align: right;
	padding-right: 80px;
	margin-top: -86px;
}

.headline-left {
	font-size: 22px;
	line-height: 32px;
	opacity: 0.5;
	padding-left: 103px;
	padding-top: 80px;
	position: relative;
	display: inline-block;
	color: #f5deb36a;
}

.headline-left::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: rgb(143, 143, 143);
	left: 0px;
}

.subtitle__head {
	padding-right: 10px;
	font-size: 40px;
	font-weight: 800;
	color: #F5DEB3;
}

.subtitle__head span {
	font-weight: 100;
}

.slick-slide:nth-child(4n + 1) .slider-subbox {
	margin-top: 32px;
}

.slick-slide:nth-child(4n + 3) .slider-subbox {
	margin-top: 89px;
}

.slick-current .slider-box__inner-btn {
	display: block;
}

.slick-current .slider-box__inner {
	background: rgba(28, 33, 33, 0.3);
}

.slider-box__wrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 370px;
}

.slider-box__inner {
	min-height: 750px;
	background: rgba(28, 33, 33, 0.85);
	position: relative;
	transition: all 0.5s;
}

.slider-box__inner:hover {
	background: rgba(28, 33, 33, 0.3);
}

.slider-box__inner:hover .surf-box__inner-btn {
	display: block;
}

.slider-box__inner-location {
	line-height: 22px;
	font-size: 30px;
	letter-spacing: 8px;
	transform: rotate(-90deg);
	position: absolute;
	left: 40px;
	bottom: 80px;
	width: 0;
	height: 0;
	white-space: nowrap;
	color: #F5DEB3;
}

.slider-box__inner-location span {
	font-weight: 100;
}

.slider-box__inner-btn {
	bottom: 0;
	position: absolute;
	text-align: center;
	right: 0;
	left: 0;
	display: none;
}

.slider-box {
	margin-top: 110px;
	display: flex;
}

.slider-box .slider-arrows {
	top: 50px;
	opacity: 0.25;
}

.slider-map {
	max-width: 1200px;
	min-height: 500px;
	margin: 0 auto;
	padding: 0;
}

.slider-map .slick-list {
	min-height: 635px;
	overflow: visible;
}

.slider-map .slick-current .slider-dots__content {
	display: block;
	width: 285px;
	padding: 28px 31px 0px 32px;
}

.slider-dots__content-box {
	position: relative;;
	width: 700px;
	height: 500px;
	border-radius: 6px;
	background: #f5deb36b;
	left: 500px;
	top: -80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-dots__content {
	display: none;
	width: 600px;
	height: 400px;
	padding-top: 20px;
	border-radius: 6px;
	background: rgba(162, 181, 159, 0.7);
	position: absolute;
}

.slider-dots__content-row {
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.slider-dots__content-title {
	font-size: 30px;
	font-weight: 800;
	line-height: 26px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	position: relative;
}

.slider-dots__content-title::before {
	content: "";
	position: absolute;
	background-color: #4af6cd;
	width: 80px;
	height: 1px;
	bottom: 0;
	left: 0;
}

.slider-dots__content-subtitle {
	text-transform: capitalize;
	line-height: 19px;
	font-size: 16px;
}

.slider-dots__content-link {
	padding-top: 4px;
}

.slider-dots__content-link img {
	width: 30px;
	height: 30px;
	color: #fff;
}

.slider-dots__content-number {
	font-weight: 8000;
	font-size: 20px;
	line-height: 23px;
}

.slider-dots__content-name {
	font-size: 20px;
	line-height: 12px;
	font-weight: 300;
	padding-top: 5px;
}

.slider-dots__content-item {
	text-align: center;
}

.slider-dots__content-item img {
	margin-bottom: 7px;
	width: 30px;
	height: 30px;
	color: #fff;
}

.slider-dots__circle {
	width: 23px;
	height: 23px;
	background-color: #4af6cd;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots {
	position: relative;
}

.slider-dots--1 {
	top: -30px;
	left: 250px;
}

.slider-dots--1 .slider-dots__circle::before {
	content: "";
	position: absolute;
	background-image: url("image/minimarker.png");
	width: 33px;
	height: 40px;
	background-size: cover;
	left: -20px;
	top: -20px;
}

.slider-dots--2 {
	top: 180px;
	left: 350px;
}

.slider-dots--2 .slider-dots__circle {
	position: relative;
}

.slider-dots--3 {
	top: 300px;
	left: 390px;
}

.slider-dots--4 {
	top: 350px;
	left: 280px;
}


/* 
@media (max-width: 1000px) {
	.slider-map .slick-list {
		overflow: hidden;
	}

	.slider-dots__circle {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
} */

/* @media (max-width: 374px) {

	.slider-map .slider-dots__content,
	.slider-map .slick-current .slider-dots__content {
		width: 200px;
		display: block;
		padding: 28px 10px 0;
	}
} */

/* @media (max-width: 1250px) {
	.slider-map {
		max-width: 1000px;
		min-height: 515px;
	}

	.slider-map .slick-list {
		min-height: 515px;
	}

	.slider-dots--1 {
		top: 266px;
	}

	.slider-dots--2 {
		top: 232px;
	}

	.slider-dots--3 {
		top: 325px;
		left: 25px;
	}

	.slider-dots--4 {
		top: 480px;
		left: -25px;
	}
} */